[submodule "web"]
    path = Web
    url = https://github.com/Project-G-Org/harpya-web.git
[submodule "common"]
    path = Common
    url = https://github.com/Project-G-Org/harpya-common.git
[submodule "desktop"]
	path = Desktop
	url = https://github.com/Project-G-Org/harpya-desktop.git
