[submodule "Web"]
    path = Web
    url = https://github.com/Project-G-Org/harpya-web.git
[submodule "Common"]
    path = Common
    url = https://github.com/Project-G-Org/harpya-common.git
[submodule "harpya-desktop"]
	path = harpya-desktop
	url = https://github.com/Project-G-Org/harpya-desktop.git
